.login-form {
  background: rgba(238,238,238, 0.9);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.32);
  padding: 3%;
  border-radius: 8px;
  width: 60%;
  margin: 8% auto;
  button {
    margin-top: 2%;
  }
  form-group {
    margin-top: 2%;
  }
}
