.jumbotron.center-content
  h1 Possible Opponents

  .search
    label Search for opponents
    input(placeholder="Enter search term", ng-model="query")

.all-members
  .player_container
    .new_player(ng-repeat="player in player.people")
        img.picture.thumbnail(ng-src="{{player.photo}}")
        p Name: {{player.name}}
        p NTRP rating: {{player.rating}}
        p Best time: {{player.time}}



