.profile-page
  .profile
    .profile-main
      img.picture(ng-src="{{profile.person.photo}}")
      button.edit.btn.btn-danger(ng-click="profile.editModalLoad()") Edit Profile
    .info
      h1 {{profile.person.name}}
      p #[u NTRP rating:] {{profile.person.rating}}
      p #[u Best time:] {{profile.person.time}}
      p #[u Area Preference:] {{profile.person.area}}
      p #[u Type of play:] {{profile.person.play}}

  .added-players
    h2 Added Players
    .player-container
      .player-snapshot(ng-repeat="(id, person) in profile.playerProfile track by $index")
        a(href="#/people/{{profile.playerID[$index]}}")
          img.small-picture(ng-src="{{person.photo}}")

div(ng-include="'app/profile/editmodal.html'")
